
body {
  background-color: white;
 
}
#navi{
  margin: 5px;
  padding: 5px;
  width: 50%;
  height: 100px;
 display: flex;
}
#logoimg{
  width: 100px;
  height: 100px;
}
#nav-bott{
  margin: 50px 0px 0px 5px;
  padding: 0%;
  height: 50px;
  
}
#nav-bott li a {
  text-decoration: none;
  color: black; /* Color del texto */
  font-size: 20px;
}

#navi li {
  margin:20px ;
  display: inline-block;

  
}
#nav-bott li :hover{
  background-color: #F5B7B1;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

/* fin de la barra de navegación*/

/* division de la paguina, lado izquierdo.*/

#box-iz{
  background-color: #F5B7B1;
  width: 48%;
  height: 78vh;
  position: absolute;
  
}

h1{
  margin: 0%;
  padding: 2px;
  font-size: 60px;
  text-align: center;
  
}
p{
  margin: 0%;
  padding: 2px;
  text-align: center;
}

/* division de la paguina, lado derecho.*/

#box-de{
  
  background-color: #b1f5c8;
  width: 48%;
  height: 78vh;
  position: relative;
  float: right;
  
}